<div class="container mt-4">
  <h2>Create Blog Post</h2>
  <form [formGroup]="blogList">
    <div class="mb-3">
      <label for="title" class="form-label" ><b>Title:</b></label>
      <input type="text" class="form-control" id="title" formControlName="title">
      <div *ngIf="blogList.get('title')?.invalid && blogList.get('title')?.touched" class="text-danger">
        Title is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="category" class="form-label"><b>Category:</b></label>
      <select class="form-control" id="category" formControlName="category">
        <option value="" disabled>Select a category</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
      <div *ngIf="blogList.get('category')?.invalid && blogList.get('category')?.touched" class="text-danger">
        Category is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="content" class="form-label"><b>Content:</b></label>
      <textarea class="form-control" id="content" formControlName="content" rows="5"></textarea>
      <div *ngIf="blogList.get('content')?.invalid && blogList.get('content')?.touched" class="text-danger">
        Content must be at least 10 characters long.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="blogList.invalid">Submit</button>
  </form>
</div>

