<div
  class="container"
  style="margin-top: 70px; margin-bottom: 90px; "
>
  <div class="row">
    <div class="col-md-4" *ngFor="let blog of blogs">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">
            <a
              routerLink="view/{{ blog.blogId }}"
              class="text-decoration-none"
              >{{ blog.title }}</a
            >
          </h5>
          <p class="card-text">Author: {{ blog.user.username }}</p>
          <p class="card-text">Category: {{ blog.category }}</p>
          <p class="card-text">Published: {{ blog.createdAt | date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
