<div style="height: 500px;">
  <div class="row mt-4" *ngIf="myBlogs.length > 0; else noBlogs">
    <div
      class="col-sm-4 mb-3 mb-sm-0"
      *ngFor="let myBlog of myBlogs; let i = index"
    >
      <div class="card" style="margin: 50px">
        <div class="card-body">
          <h4>{{ myBlog.title }}</h4>
          <h6 class="card-title">CATEGORY : {{ myBlog.category }}</h6>
          <p class="card-text">{{ myBlog.content }}</p>
          <div class="d-flex justify-content-center align-items-center">
            <a
              routerLink="/blogs/edit/{{ myBlog.blogId }}"
              class="btn btn-primary pe-4 ps-4"
              >Edit</a
            >
            <a
              href="#"
              class="btn btn-danger ms-4 pe-3 ps-3"
              (click)="deleteBlog(myBlog.blogId); $event.preventDefault()"
              >Delete</a
            >
          </div>
        </div>
      </div>
      <br *ngIf="(i + 1) % 3 === 0" />
    </div>
  </div>

  <ng-template #noBlogs>
    <h4 style="margin-top: 100px; text-align: center; color: #00095b">
      No blogs have been posted yet by you!
    </h4>
  </ng-template>

  <app-delete-blog [blogId]="selectedBlogId" #deleteComponent></app-delete-blog>
  <!-- access the child component -->
</div>
