<div style="height: 500px">
  
  <div class="row mt-4" *ngIf="myBlogs.length > 0; else noBlogs">
    <div
      class="col-sm-4 mb-3 mb-sm-0"
      *ngFor="let myBlog of myBlogs; let i = index"
    >
      <div class="card" style="margin: 50px">
        <div class="card-body">
          <h4>{{ myBlog.title }}</h4>
          <h6 class="card-title">CATEGORY : {{ myBlog.category }}</h6>
          <p class="card-text">{{ myBlog.content }}</p>
          <div class="d-flex justify-content-center align-items-center">
            <a
              routerLink="/blogs/edit/{{ myBlog.blogId }}"
              class="btn btn-primary pe-4 ps-4"
              >Edit</a
            >
            <a
            href="#"
            class="btn btn-danger ms-4 pe-3 ps-3"
            (click)="openDeleteModal(myBlog); $event.preventDefault()"
            >Delete</a
          >
        </div>
      </div>
    </div>
    <br *ngIf="(i + 1) % 3 === 0" />
  </div>
</div>

<ng-template #noBlogs>
  <h4 class="text-danger" style="margin-top: 50px; text-align: center">
    No blogs have been posted yet by you!
  </h4>
</ng-template>

<!-- Bootstrap Modal for Deletion Confirmation -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the blog titled "{{
          blogToDelete?.title
        }}"?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>